#events li{
	display: inline-block;
	margin-top: 5px;
	margin-left: 3px;
	font-family: arial;
	color: white;
}
.fr-list-del{
    display: block;
    margin-top: 10px;
    margin-left: 19px;
    width: 212px;
    border-radius: 10px;
    border: 0;
    height: 37px;
    font-size: 21px;
    -webkit-box-shadow: 2px 12px 12px -5px #585858;
	-moz-box-shadow: 2px 12px 12px -5px #585858;
	box-shadow: 2px 12px 12px -5px #585858;
}
.fr-list-del:hover{
	-webkit-box-shadow: -2px 19px 17px -10px gray;
	-moz-box-shadow: -2px 19px 17px -10px gray;
	box-shadow: -2px 19px 17px -10px gray;
	transform: translateY(-5px);
	transition: 300ms;
}
.fr-list-avt{
	margin-left: 10px;
	border-radius: 50%;
}
#most-inc h3{
	display: inline-block;
	margin-left: 10px;

}
.cover-info button{
	width: 70px;
	height: 27px;
	background-color: #ff0037;
	border: 0;
	color: white;
	margin-left: 8px;

}
#close-info{
    display: block;
    float: right;
    margin-right: 8px;
    margin-top: 1px;
    font-size: 200%;
}
#close-info:hover{
	transform: scale(1.1) ;
	cursor: pointer;
	

}
.req-acpt{
	background-color: yellowgreen!important;
}
.searcher{
	display: inline-block;
    margin-top: -40px;
    width: auto;
	height: 50px;
	margin-left: 35%;
	
	text-align: center;
	position: absolute;
}
.cover-info h3{
	display: inline-block;
	margin-left: 5px;
}


.searcher input{
	width: 384px;
	height: 36px;
}
.searcher button{
	width: 56px;
	height: 35px;
	border: 0;
	background-color: #03A9F4;
}
.cover-info a>h3{
	display: inline-block;
	margin-left: 10px;
}
.bg-cover{
	display: none;
	width: 100%;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	z-index: 999;
}
.cover-info{
    text-align: center;
    width: 50%;
    height: 60vh;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: 0 auto;
    overflow-y: scroll;
    background-color: white;
    border-radius: 4px;
    margin-top: 10%;

}
#events ul li img{
	width:40px;
	height: 40px;
	margin-left: 8px;
}
*{
	margin:0;
	padding: 0;
}
#prof-head{
	width: 100%;
	height: 400px;
	background-color: gray;
	position: relative;

}
#avt-div{
	background: #5E5E5E;
	width: 400px;
	height: 400px;
	border: 6px solid white;
	padding: 5px;
	margin-top: 116px;
	position: absolute;
	margin-left: 40px;
	z-index: 1;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#avt-div img:hover{
	background-color: black;
	opacity: 0.5;
	cursor: pointer;

}

.img-thumbnail{
	width: 100%;
	height: 100%;
}
#prof-events{
	width: 732px;
	height: 264px;

	position: absolute;
	display: inline-block;
	margin-left: 510px;
	margin-top: 116px;

}
#get-photo{
	display: none;
}
#use-img{
	display: none;
	width: 380px;
	height: 30px;
	font-size: 20px;
	background-color: #EEEEEE;
	color: #31A6B7;
	margin: 0 auto;
	margin-top: 91px;
	border-radius: 4px;
}
#prof-events h1{
	color: white;
	font-family: georgia;
	font-size: 440%;
}
#prof-events button{
	background-color: #454E4E;
	border: none;
	color: white;
	border-radius: 4px;
	width: 138px;
	height: 43px;
	display: inline-block;
	margin-top: 103px;
	margin-left: 27px;


}
#prof-cont{
	width: 100%;
	height: auto;
	margin:0 auto;
	border: 1px solid white;
	background-color: #DFDFDF;
	position: relative;
}
body{
	background-color: gray!important;
}
#nav{
	width: 400px;
	height: 450px;
	background-color: black;
	color: gray;
	margin-left: 42px;
	margin-top: 130px;
	text-align: end;
	padding: 32px 0;    
	font-family: tahoma;
	line-height: 90px;
	font-size: 30px;
	overflow: hidden;
	transition: 300ms;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
#nav li{
	text-decoration: none;
	list-style: none;
	text-align: center;
	cursor: pointer;


}
#nav li:hover{
	transform: scaleX(1.1);
	color: white;
}
#nav li:not(:last-child){
	border-bottom: 1px solid gray;

}
#nav-1{
	background-color: #F8F8F8;
	width: 100%;
	height: 250px;
	-webkit-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
}
#nav-2{
	background-color: #F8F8F8;
	width: 100%;
	height: 223px;
	-webkit-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
}
#nav-bar-out{
	position: relative;
	margin-left: 480px;
	width: 61%;
	height: auto;
	margin-top: -600px;

}
#nav-bar-out h1{
	font-size: 40px;
	font-family: georgia;
	color: #5A5854;
}
#most-inc{
	width: 96%;
	height: 800px;
	background-color: #F8F8F8;
	position: relative;
	margin: 0 auto;
	margin-top: 2%;
	margin-left: 3%;
	-webkit-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);

}
#out-of-space{
	width: 100%;
	height: 79px;
	background-color: #454E4E;
	position: fixed;
	z-index: 2;
}
#out-of-space img{
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 2%;
	margin-top: 1%;
}
#out-of-space img:hover{
	transform: scale(1.1);
	transform: translateY(3px);
	cursor: pointer;
}




/*CHAT CHAT CHAT CHAT CHAT CHAT*/


#chat{
	display: none;
	width: 46%;
	height: auto;
	border:1px solid;
	float: right;
}
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    z-index: 50;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
    border: none;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
  border-bottom: 1px solid #E5E5E5;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.panel-default>.panel-heading{
	background-color: #03A9F4;
	border-color: #03A9F4;
    border-bottom: 11px solid #E5E5E5;
}
#friend-list{
	height: 500px;
	border:2px outset rgba(3, 169, 244, 0.6);
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 50;
	border-radius: 4px 4px 0 0;
	background-color: #E5E5E5;
	border-bottom: none;
	color:#337AB7;
	font-family: georgia;
	overflow-y: scroll;
	width: 20%;
}
#friend-list img{
	margin-left: 2%;
	margin-top: 2%;
}

#friend-list label:hover{
	cursor: pointer;
	transform: scale(1.02);
	border-bottom: 1px solid;

}
.panel-title{
	display: inline-block;
}
.msg_me{
	background-color: #03a9f4!important;
	color: white;
}

.new-something{
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
	animation-iteration-count: infinite;
}

@keyframes shake {
  10% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%  {
    transform: translate3d(2px, 0, 0);
  }

  30% {
    transform: translate3d(-4px, 0, 0);
  }

  40% {
    transform: translate3d(4px, 0, 0);
  }
  50%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}