html body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}
#header{
    background: #103A48;
    height: 86px;
	margin: 0 auto;
}

#content-cover{
	width: 100%;
	height: 400px;
	background: url(../images/pic06.jpg) no-repeat;

	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#intro{
	background-position: center;
	background:url(../images/landing-users.jpg) no-repeat;

	width: 100%;
	height: 550px;
	background-size: cover;
	background-attachment: fixed;
}
#first-col{
	width: 55%;
	height: 100%;
	
	display:inline-block; 
	float:left;

}
#first-col img{
	width: 100%;
	height: 100%;
}
#log-div{
	box-shadow: 14px 20px 23px -16px #585858;
	width: 30%;
	float: right;
	margin-right: 8%;
	border-radius: 4px;
	border:1px solid #66E0FF;
	padding: 3%;
	color: #30738B;

}
#log-cont{
	width: 100%;
	height: 450px;
	background-color: white;
	position: relative;
	padding: 3% 0;
	margin-top: 16%;
	margin-bottom: 16%;
}
@media only screen and (max-width: 680px) {
	#intro{
		background-position: center;
		height: 265px;
	}
	#header{
		height: 57px;
	}
	#first-col{
		width: 100%;
		height: 50%;
		display:block; 
		float:left;
	}
	#first-col img{
		width: 100%;
		height: 68%;
		display: block
	}
	#log-cont{
		width: 100%;
		height: 670px;
		
		position: relative;
		padding: 3% 0;
	}
	#log-div{
		border:none;
		width: 100%!important;
		text-align: center;
		font-size: 100%;
		display: block;
		height: 50%;
		box-shadow: none;
	}
	#log-done{
		width: 65%;
		margin-left: 10%!important;
		font-size: 20px; 
	}
	
	#log-div input{
		width: 70%;
		height: 40px;
		margin-left: 20%;	
	}
	#reg-div{
		display: block!important;
		width: 93%!important;
	}
	#reg-col2{
		width: 100%!important;
		display: block!important;
	}
	#reg-col2 img{
		width: 86%;
		height: 100%;
		margin: 10%;
	}
	#header > ul li {
		
   	 	font-family: myfont;
		font-size: 192%!important;
	}


}

@media only screen and  (min-width: 681px) and (max-width: 880px){
	#first-col img{
		width: 100%;
		height: 68%;

	}
	#header > ul li {
		
   	 	font-family: myfont;
		font-size: 230%!important;
	}
	
	#log-div{
		border:none;

	}
	#intro{
		height: 360px;
		background-position: center;
		
	}
	#log-div{
		width: 44%;
		box-shadow: none;
		margin-right: 0;
	}
	

}
label{
	font-size: 17px;
	color:aceblue;
}
#header > ul li {
	display: inline-block;
    font-family: myfont;
	font-size: 430%;
	margin-left: 3%;
	padding-right: 1%;
	color: white;
	border-right: 1px solid #ccc;
	
}
#reg-cont{
	background-color: white;
	width: 100%;
	height: 600px;
	
	margin-top: 5%;
	position: relative;
}
.form-control{
	border-radius: 0;
}
#reg-div{
	width: 45%;
	height: auto;
	margin-left: 3%;
	float: left;
	display: inline-block;
	padding: 3%;
}
#reg-col2{
	width: 40%;
	height: 50%;
	margin-right: 3%;
	float: right;
	margin-top: 10%;
	
}
#reg-col2 img{
	width: 80%;
	height: 100%;

}
#reg-done,#log-done{
	width: 100%;
	height: 36px;
	background-color: #66E0FF;
	font-size: 25px;
	font-family: georgia;
	border: 0;
	color: white;
	-webkit-box-shadow: 2px 12px 12px -5px #585858;
	-moz-box-shadow: 2px 12px 12px -5px #585858;
	box-shadow: 2px 12px 12px -5px #585858;
}
#reg-done:hover,#log-done:hover{
	-webkit-box-shadow: -2px 19px 17px -10px gray;
	-moz-box-shadow: -2px 19px 17px -10px gray;
	box-shadow: -2px 19px 17px -10px gray;
	transform: translateY(-5px);
	transition: 300ms;
}
#reg-done{
	background-color: #B765B8;

}
#name{
	background-color: white;
	width: 80%;
	height: 850px;
	margin: 0 auto;
	
	margin-top: 2%;
	position: relative;
}
#reg-div h3,#log-div h3{
	color: #9927AE;
	font-family: georgia;
}


@font-face {
	font-family: myfont;
	src:url(../fonts/StampyLight.ttf);
}
